<div class="container">

    <div class="modal-wrapper">
        <div class="overlay"> </div>
        <div class="modal" id="article-modal">
            <div class="content">
                <div class="img-banner-modal">
                    <a class="modal-close close-button ">

                    </a>
                    <img src="/img/image-liabary-example-1.jpg" id="article-image">
                    <div class="time-post">
                        <i class="fa fa-2x fa-calendar-alt" aria-hidden="true"></i>
                        <span id="article-public-date">11 Tháng 6 Năm 2020</span>
                    </div>

                </div>
                <div class="description-modal-text">
                    <h1 id="article-title">TIỆC CƯỚI TRÊN BIỂN</h1>
                    <p id="short-desc"></p>
                    <p id="article-content">
                        Trải nghiệm sống sang, ngập tràn nắng, gió, biển giữa chuỗi tiện ích 5* đẳng cấp thượng
                        lưu hạng trọn đời ...
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="preloader"></div>
    <div class="section-loader">
        <div id="loading">
            <div class="preloaderimg">
                <img src="/img/logo-desktop.png">
            </div>
            <div id="nlpt"></div>
        </div>
    </div>

    <header class="container-header">
        <div class="logo-desktop">
            <a class="inner-content" href="#">
                <div class="inner-logo-desktop">
                </div>
            </a>

            <a target="_blank" href="{{config.fb_link}}" class="fb-logo"> <img class="img-fluid"></a>
            <a href="tel:{{config.phone_number}}" href="" class="phone"> <img class="img-fluid"></a>

        </div>
        <ul class="nav">
            <li class="nav-item active">
                <a href="#gioi-thieu" class="nav-link">Giới thiệu</a>
            </li>
            <li class="nav-item">
                <a href="#vi-tri" class="nav-link">Vị trí</a>
            </li>
            <li class="nav-item">
                <a href="#tien-ich" class="nav-link">Tiện ích</a>
            </li>
            <li class="nav-item">
                <a href="#can-ho" class="nav-link">Căn hộ</a>
            </li>
            <li class="nav-item">
                <a href="#tin-tuc" class="nav-link">Tin tức</a>
            </li>
            <li class="nav-item">
                <a href="#thu-vien" class="nav-link">Thư viện</a>
            </li>

            <li class="nav-item">
                <a href="#lien-he" class="nav-link">Liên hệ</a>
            </li>
        </ul>
        <div class="header-right">
            <a target="_blank" href="/pdf/LEAFLET_SCREEN_PREVIEW.pdf" class="btn-brochure">
                <span>brochure
                </span>
                <img src="/img/brochure-icon.png">
            </a>
            <div class="header-right-mobile">
                <div id="hamburger" href="#">
                    <span></span>

                </div>
            </div>
        </div>
    </header>

    <section class="header-background-image">
        <div class="inner-background-image">

            <a href="#gioi-thieu" class="btn-next-screen">
                <img src="/img/arrow-dow.png">
            </a>
            <div class="slogan-text">
                <h2>Biểu tượng sống</h2>
                <h1>Nghỉ Dưỡng <span>Thượng Lưu </span> </h1>
                <h1 class="line2">Giữa Lòng <span>Đà Nẵng</span></h1>
            </div>
        </div>
    </section>

    <section id="gioi-thieu" class="introduction">
        <div class="vignette-pattern-left">
            <img src="/img/vignette-pattern-left-1.png">
        </div>
        <div data-aos="fade-up" class="introduction-left">
            <div class="title-section">
                <span>01 </span>
                <div></div>
                <span>Giới Thiệu</span>
            </div>
            <h1>Tuyệt Tác <strong>Đẳng Cấp</strong><br> Bên Bờ <strong>Sông Hàn</strong></h1>
            <p>Thuộc top những toà nhà cao nhất thành phố cùng 100% căn hộ hiện đại tầm nhìn thưởng
                ngoạn vẻ đẹp tuyệt
                mĩ của Vịnh Đà Nẵng bên cạnh bờ Sông Hàn thơ mộng cùng chuỗi tiện ích đẳng cấp 5*, Athena Luxury Đà Nẵng
                Riverside tự hào mang đến
                cho gia chủ đặc quyền sống nghỉ dưỡng thượng hạng bậc nhất và duy nhất tại Thành phố Biển Vịnh xinh đẹp
                Đà Nẵng với Quy mô dự án:</p>
            <div class="building-infomation">
                <h4>
                    Tổng diện tích khu đất:
                </h4>
                <h5>
                    7172 m2
                </h5>
            </div>
            <div class="building-infomation">
                <h4>
                    Quy mô xây dựng dự kiến:
                </h4>
                <h5>
                    2 tòa chung cư
                </h5>
            </div>
            <div class="building-infomation">
                <h4>
                    Chiều cao công trình:
                </h4>
                <h5>
                    36 tầng nổi 2 tầng hầm
                </h5>
            </div>
            <div class="building-infomation">
                <h4>
                    Mật độ xây dựng:
                </h4>
                <h5>
                    45%
                </h5>
            </div>
            <div class="building-infomation">
                <h4>
                    Tổng diện tích sàn xây dựng:
                </h4>
                <h5>
                    112.000m2
                </h5>
            </div>
        </div>
        <div class="introduction-right">
            <img class="img-fluid object-fit-cover" src="/img/tuyet_tac_dang_cap.jpg">
        </div>
    </section>

    <section id="vi-tri" class="position">

        <div class="inner-position">
            <div class="inner-position-left">
                <div class="content-position-left">
                    <div class="container-video">

                        <img alt="Flowers in Chania" class="gifImage img-fluid object-fit-cover"
                            src="/video/athenaGifImage.gif">

                        <div class="btn-next-position">
                            <img>
                        </div>
                        <div class="btn-prev-position">
                            <img>
                        </div>
                    </div>

                    <div class="container-owl-carousel-5">
                        <div id="owl-carousel-5" class="owl-carousel">
                            <div class="owl-item-position">
                                <div class="container-image-preview">
                                    <img class="image-preview" src="/img/cang_da_nang.jpg">
                                </div>
                                <div class="container-icon-preview">
                                    <img src="/img/plane-icon.png">
                                </div>
                                <div class="container-text-preview">
                                    <h3>Cảng hàng không quốc tế Đà Nẵng</h3>
                                    <h4>5,3 KM - 9 PHÚT</h4>
                                </div>

                            </div>
                            <div class="owl-item-position">
                                <div class="container-image-preview">
                                    <img class="image-preview" src="/img/bai_bien_my_khe.jpg">
                                </div>
                                <div class="container-icon-preview">
                                    <img src="/img/bai_bien_my_khe_icon.png">
                                </div>
                                <div class="container-text-preview">
                                    <h3>Bãi biển Mỹ Khê </h3>
                                    <h4>5,3 KM - 9 PHÚT</h4>
                                </div>
                            </div>

                            <div class="owl-item-position">
                                <div class="container-image-preview">
                                    <img class="image-preview" src="/img/khan_dai_phao_hoa.jpg">

                                </div>
                                <div class="container-icon-preview">
                                    <img src="/img/khan_dai_phao_hoa_icon.png">

                                </div>
                                <div class="container-text-preview">
                                    <h3>Khán đài pháo hoa</h3>
                                    <h4>2,8 KM - 5 PHÚT</h4>
                                </div>
                            </div>

                            <div class="owl-item-position">
                                <div class="container-image-preview">
                                    <img class="image-preview" src="/img/khach_san_Novotel_Da_Nang.jpg">

                                </div>
                                <div class="container-icon-preview">
                                    <img src="/img/khach_san_Novotel_Da_Nang_icon.png">
                                </div>
                                <div class="container-text-preview">
                                    <h3>Khách Sạn <br> Novotel DaNang</h3>
                                    <h4>4 KM - 6 PHÚT</h4>
                                </div>
                            </div>
                            <div class="owl-item-position">
                                <div class="container-image-preview">
                                    <img class="image-preview" src="/img/Ben_Du_Thuyen.jpg">

                                </div>
                                <div class="container-icon-preview">
                                    <img src="/img/Ben_Du_Thuyen_Icon.png">
                                </div>
                                <div class="container-text-preview">
                                    <h3>Bến<br> Du Thuyến</h3>
                                    <h4>200M - 1 PHÚT</h4>
                                </div>
                            </div>
                            <div class="owl-item-position">
                                <div class="container-image-preview">
                                    <img class="image-preview" src="/img/Chua_Linh_Ung.jpg">
                                </div>
                                <div class="container-icon-preview">
                                    <img src="/img/chua_linh_ung_icon.png">
                                </div>
                                <div class="container-text-preview">
                                    <h3>Chùa<br> Linh Ứng</h3>
                                    <h4>7.8 KM - 12 PHÚT</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-5-controller">
                        <div class="owl-carousel" id="inner-owl-5-controller">
                            <div class="owl-controller-item">
                                <div class="owl-controller-item-preview">
                                    <img src="/img/plane-icon.png">
                                </div>
                            </div>
                            <div class="owl-controller-item">
                                <div class="owl-controller-item-preview">
                                    <img src="/img/bai_bien_my_khe_icon.png">
                                </div>
                            </div>
                            <div class="owl-controller-item">
                                <div class="owl-controller-item-preview">
                                    <img src="/img/khan_dai_phao_hoa_icon.png">
                                </div>
                            </div>
                            <div class="owl-controller-item">
                                <div class="owl-controller-item-preview">
                                    <img src="/img/khach_san_Novotel_Da_Nang_icon.png">
                                </div>
                            </div>
                            <div class="owl-controller-item">
                                <div class="owl-controller-item-preview">
                                    <img src="/img/Ben_Du_Thuyen_Icon.png">
                                </div>
                            </div>
                            <div class="owl-controller-item">
                                <div class="owl-controller-item-preview">
                                    <img src="/img/chua_linh_ung_icon.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inner-position-right">
                <div data-aos="fade-down" class="container-position-right">
                    <div class="title-section">
                        <span>02</span>
                        <div></div>
                        <span>Vị trí</span>
                    </div>
                    <h1>Tâm điểm <strong>Phồn Vinh</strong><br> Tinh Hoa <strong>Hội Tụ</strong>
                    </h1>
                    <p>Toạ lạc tại vị trí đắc địa bên bờ sông Hàn, nơi giao lộ 4 mặt đường chính ấn
                        tượng: Lê Văn Duyệt,
                        Hồ Hán Thương, Bùi Dương Lịch và Nại Hưng 1 với vị thế bốn bề Núi - Sông - Vịnh Biển giữa trung
                        tâm Thành phố Đà Nẵng phồn vinh,
                        Athena Luxury Đà Nẵng Riverside tự hào vị thế độc tôn - riêng một đẳng cấp sống nghỉ dưỡng.</p>
                </div>
            </div>
    </section>
    <section id="tien-ich" class="utilities">
        <div class="inner-utilities">
            <img src="/img/vignette-pattern-type-2.png" class="vignette-pattern">
            <div class="utilities-left">
                <img class="img-fluid object-fit-cover" src="/img/dac_quyen_tien_ich_left.jpg">
                <div class="container-five-star">
                    <span> 5* </span>
                    <span class="circle-fill-level-1"></span>
                </div>
            </div>
            <div data-aos="fade-up" class="utilities-right">
                <div class="inner-utilities-right">
                    <div class="title-section">
                        <span>03 </span>
                        <div></div>
                        <span>Tiện ích</span>
                    </div>
                    <h1>Đặc Quyền Tiện Ích<br><strong>5* Đẳng Cấp</strong></h1>
                    <p>Trải nghiệm sống sang, ngập tràn nắng, gió, biển giữa chuỗi tiện ích 5* đẳng
                        cấp thượng lưu chính
                        là đặc quyền thượng hạng trọn đời dành cho chủ nhân danh giá.</p>
                    <a target="_blank" href="/pdf/Ban_do_tien_ich.pdf" class="btn-map-utilities">
                        <span>bản đồ tiện ích
                        </span>
                        <img src="/img/arrow-right.png">
                    </a>
                    <div class="container-utilities-image-right">
                        <img class="vignette-pattern-right">
                        <img class="object-fit-cover utilities-image-right" src="/img/dac_quyen_tien_ich_right.jpg">
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section id="can-ho" class="apartment">
        <div class="inner-apartment">
            <div data-aos="fade-down" class="apartment-left">
                <div class="container-title-apartment">
                    <div class="title-section">
                        <span>04 </span>
                        <div></div>
                        <span>Căn hộ</span>
                    </div>
                    <h1> <strong>Mặt Bằng </strong> Điển Hình</h1>
                </div>

                <div id='owl-carousel-1-dots'>
                    <div class="typical-grounds typical-grounds-1">
                        <ul class='owl-dots'>
                            <li class='owl-dot'></li>
                            <li class='owl-dot'></li>
                            <li class='owl-dot'></li>
                        </ul>
                        <h2 data-slide="0" class="active">Tầng điển hình</h2>
                    </div>
                    <div class="typical-grounds typical-grounds-2">
                        <ul class='owl-dots'>
                            <li class='owl-dot'></li>
                            <li class='owl-dot'></li>
                            <li class='owl-dot'></li>
                        </ul>
                        <h2 data-slide="1">Căn hộ 3 phòng ngủ</h2>
                    </div>
                    <div class="typical-grounds typical-grounds-3">
                        <ul class='owl-dots'>
                            <li class='owl-dot'></li>
                            <li class='owl-dot'></li>
                            <li class='owl-dot'></li>
                        </ul>
                        <h2 data-slide="2">Căn hộ 2 phòng ngủ</h2>
                    </div>
                </div>

            </div>
            <div class="apartment-right">
                <div id="owl-carousel-1" class="owl-carousel">
                    <img class="img-fluid object-fit-cover" src="/img/MB_FLOOR.jpg">
                    <img class="img-fluid object-fit-cover" src="/img/MB_3_PN.jpg">
                    <img class="img-fluid object-fit-cover" src="/img/MB_2_PN.jpg">
                </div>
            </div>
        </div>
    </section>

    <section id="tin-tuc" class="news">
        <div class="inner-news">
            <div class="news-header">
                <div class="news-header-left">
                    <div class="title-section">
                        <span>05</span>
                        <div></div>
                        <span>Tin tức</span>
                    </div>
                    <h1><strong>Tin Tức</strong> - Sự Kiện</h1>
                </div>
                <div class="news-header-right">
                    <ul class="news-header-right-menu">
                        <li data-type="trending" class="active">nổi bật</li>
                        <li data-type="event">sự kiện</li>
                        <li data-type="news">tin tức</li>
                    </ul>
                </div>
            </div>
            <div data-aos="fade-up" class="news-content">
                <div id="owl-carousel-3" class="owl-carousel">

                    {{#each posts}}
                    <div data-id="{{this._id}}" class="post-item">
                        <img src="{{getThumbnailImage this.thumb_image this.banner_image}}">
                        <div class="preview">
                            <h3>{{this.title}}</h3>
                            <p>{{getDescriptionArtiles this.short_desc}}</p>
                        </div>
                    </div>
                    {{/each}}
                    {{!-- <div class="post-item">
                        <img src="/img/post-img-1.jpg">
                        <div class="preview">
                            <h3>Tiệc cưới trên biển</h3>
                            <p>Trải nghiệm sống sang, ngập tràn nắng, gió, biển giữa chuỗi tiện ích 5* đẳng cấp thượng
                                lưu hạng trọn đời ...</p>
                        </div>
                    </div>
                    <div class="post-item">
                        <img src="/img/post-img-2.jpg">
                        <div class="preview">
                            <h3>Dịch vụ thuê tàu</h3>
                            <p>Trải nghiệm sống sang, ngập tràn nắng, gió, biển giữa chuỗi tiện ích 5* đẳng cấp thượng
                                lưu chính ...</p>
                        </div>
                    </div>
                    <div class="post-item">
                        <img src="/img/post-img-3.jpg">
                        <div class="preview">
                            <h3>Lướt trên con sóng</h3>
                            <p>Trải nghiệm sống sang, ngập tràn nắng, gió, biển giữa chuỗi tiện ích 5* đẳng cấp thượng
                                lưu chính là ... </p>
                        </div>

                    </div>
                    <div class="post-item">
                        <img src="/img/post-img-3.jpg">
                        <div class="preview">
                            <h3>Lướt trên con sóng</h3>
                            <p>Trải nghiệm sống sang, ngập tràn nắng, gió, biển giữa chuỗi tiện ích 5* đẳng cấp thượng
                                lưu chính là ... </p>
                        </div>
                    </div> --}}
                </div>
            </div>
            <div class="owl-controller">
                <span class="line"></span>
                <div class="owl-controller-right">
                    <img class="btn-prev-post img-fluid">
                    <div class="dots">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                    <img class="btn-next-post img-fluid">
                </div>

            </div>
        </div>

    </section>
    <section id="phat-trien-du-an" class="project-development">
        <div class="inner-project-development">
            <img src="/img/vignette-pattern-type-3.png" class="vignette-pattern-1">
            <img src="/img/vignette-pattern-type-3.png" class="vignette-pattern-2">
            <div class="project-development-left">
                <div class="title-section">
                    <span>06 </span>
                    <div></div>
                    <span>Phát triển dự án</span>
                </div>
                <h1 id="header-project-development"> <strong>Chủ Đầu Tư </strong>Dự Án</h1>
            </div>
            <div class="project-development-right">
                <img class="img-fluid development-item prev-development-item">
                <div class="container-owl-carousel-2">
                    <div id="owl-carousel-2" class="owl-carousel">
                        <div class="container-owl-item">
                            <div class="inner-owl-item one">
                                <img src="/img/project-development-right-1.png">
                                <img src="/img/project-development-right-2.png">
                            </div>

                        </div>
                        <div class="container-owl-item">
                            <div class="inner-owl-item">
                                {{!-- <img  src="/img/logo-BE.png"> --}}
                                {{> client/BE_LOGO}}
                            </div>
                        </div>
                    </div>

                </div>
                <img class="img-fluid development-item next-development-item">
            </div>
        </div>
    </section>
    <section id="thu-vien" class="image-libary">
        <div class="inner-image-libary">
            <div class="image-libary-header">
                <div class="image-libary-left">
                    <div class="title-section">
                        <span>07</span>
                        <div></div>
                        <span>Thư viện</span>
                    </div>
                    <h1>Thư Viện <strong>Ảnh</strong></h1>
                </div>
                <div class="image-libary-right">
                    <ul id="list-button-menu-libary" class="owl-carousel image-libary-right-menu">
                        <li id="btn-image-libary" class="active">Thư viện ảnh</li>
                        <li><a href="/pdf/LEAFLET_SCREEN_PREVIEW.pdf" target="_blank">Brochure dự án</a></li>

                        <li id="btn-video-libary">Thư viện video</li>


                    </ul>
                </div>
            </div>
            <div data-aos="fade-up" class="image-libary-content">
                <div class="detail-image">
                    <div id="owl-carousel-6" class="owl-carousel">
                        {{!-- <div class="item">
                           
                                <iframe src="https://www.youtube.com/embed/G1lq40tR72Q?enablejsapi=1" width="100%"
                                    allowfullscreen frameborder="0" height="721px"></iframe>
                        </div> --}}
                        {{#each images_gallerys}}
                        <div class="item">
                            <img class="show-image" class="image-fluid" src="{{this.url_image}}">
                        </div>
                        {{/each}}
                        {{!-- <div class="item">
                            <img class="show-image" class="image-fluid" src="/img/image-liabary-example-1.jpg">
                        </div>
                        <div class="item">
                            <img class="show-image" class="image-fluid" src="/img/image-liabary-example-2.jpg">
                        </div>
                        <div class="item">
                            <img class="show-image" class="image-fluid" src="/img/image-liabary-example-3.jpg">
                        </div> --}}
                    </div>
                    <div class="btn-next-libary">
                        <img>
                    </div>
                    <div class="btn-prev-libary">
                        <img>
                    </div>
                </div>
                <div class="image-libary-content-bottom">
                    <div class="inner-content">
                        <div id="owl-carousel-7" class="owl-carousel">
                            {{#each images_gallerys}}
                            <div class="owl-item-content">
                                <img src="{{this.thumb_image}}">
                            </div>
                            {{/each}}
                            {{!-- <div class="owl-item-content">
                                <img src="/img/image-liabary-example-1.jpg">
                            </div>
                            <div class="owl-item-content">
                                <img src="/img/image-liabary-example-2.jpg">
                            </div>
                            <div class="owl-item-content">
                                <img src="/img/image-liabary-example-3.jpg">
                            </div> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="lien-he" class="contact">
        <div class="inner-contact">
            <div class="inner-contact-left">
                <img class="object-fit-cover" src="/img/contact-image-left.jpg">
            </div>
            <div class="inner-contact-right">
                <div class="contact-right-content">
                    <div data-aos="fade-down" class="inner-contact-right-content">
                        <div class="container-content">
                            <div class="title-section">
                                <span>08</span>
                                <div></div>
                                <span>Liên hệ</span>
                            </div>
                            <h1> Athena Luxury <br> <strong> Đà Nẵng RiverSide</strong></h1>
                            <div class="address">
                                <div></div>
                                <p>Đường Lê Văn Duyệt, P. Nại Hiên Đông, Q.Sơn Trà, TP.Đà Nẵng</p>
                            </div>
                            <div class="phone">
                                <div></div>
                                <p>Hotline: 0971.515.379 - 0971.515.379</p>
                            </div>
                            <img class="vignette-pattern">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="tham-quan-nha-mau" class="visit-model-house">
        <div class="inner-visit-model-house">
            <div data-aos="fade-up" class="content">
                <div class="title-section">
                    <span>09</span>
                    <div></div>
                    <span>Tham quan nhà mẫu</span>
                </div>
                <h1>ĐĂNG KÝ <br> NHẬN THÔNG TIN</h1>
                <form id="form-register" class="form-visit">
                    <div class="container-input">
                        <input autocomplete="chrome-off" maxlength="50" name="name" required="" type="text" placeholder="Họ và tên">

                    </div>
                    <div class="container-input">
                        <input autocomplete="chrome-off" maxlength="50" name="email" required="" type="text" placeholder="Email">

                    </div>
                    <div class="container-input">
                        <input autocomplete="chrome-off" maxlength="20"  name="phone" required="" type="number" placeholder="Số điện thoại">
                    </div>
                </form>
                <p id="text-result" class="text-result"> </p>
                <div id="button-register" class="btn-submit-visit-form">
                    <span>Đăng ký nhận tin</span>
                    <img src="/img/arrow-right-1.png">
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="inner-footer">
            <div class="footer-top">
                <div class="content-left">
                    <img src="/img/logo-footer.png" class="img-fluid">
                </div>
                <div class="content-right">
                    <ul class="menu-footer">
                        <li>Tổng quan</li>
                        <li> <a href="#gioi-thieu">Giới thiệu</a></li>
                        <li> <a href="#vi-tri"> Vị trí</a></li>
                        <li> <a href="#tien-ich"> Tiện ích </a> </li>
                    </ul>
                    <ul class="menu-footer">
                        <li>Tin tức </li>
                        <li><a href="#tin-tuc">Nổi bật</a> </li>
                        <li><a href="#tin-tuc">Sự kiện</a> </li>
                        <li><a href="#tin-tuc">Tin tức</a> </li>
                    </ul>
                    <ul class="menu-footer">
                        <li href="#lien-he">Liên hệ </li>
                        <li><a href="#lien-he">Hotline</a> </li>
                        <li><a target="_blank" href="https://www.facebook.com/Athenaluxurydannangriverside">Facebook</a>
                        </li>
                        <li><a target="_blank" href="/pdf/LEAFLET_SCREEN_PREVIEW.pdf">Brochure</a> </li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="footer-bottom-left">
                    <p>© Copyright 2020 Athena Luxury Đà Nẵng Riverside</p>
                </div>
                <div class="footer-bottom-right">
                    <p>Mọi thông tin trong tài liệu này đúng tại thời phát hành và có thể điều chỉnh mà không cần báo
                        trước. Hình ảnh chỉ mang tính chất minh họa</p>
                </div>
            </div>
        </div>
    </section>
</div>